{{set root=".."}}
{{>header title="아이디 찾기" cssName="find-id"}}


<span class="title">아이디 찾기</span>
<span class="desc">회원 정보에 등록된 이름과 핸드폰 번호를 입력해주세요.</span>

<div class="find-id">
	<input id="member-name" type="text" placeholder="Name">
	<input id="member-phone-num" type="text" placeholder="Phone Number           (ex) 010-0000-0000">

	<button class="btn-bottom btn-find">찾기</button>
	<button class="btn-bottom btn-cancel">취소</button>

	<div class="link">
		<hr class="line">
		<ul class="link_list">
			<li><a href="signup.html">회원가입</a></li>
			<li><a href="login.html">로그인</a></li>
			<li><a href="find-pw.html">비밀번호 찾기</a></li>

		</ul>
	</div>
</div>




<div class="popup-find-id-box">
	<div class="popup-contents">
		<span class="text1">
			<span class="user-name">백수현</span> 님이<br>
			가입한 이메일 주소는
		</span>

		<span class="user-id">100suhyun@naver.com</span>

		<span class="text3">
			입니다.
		</span>

		<button class="btn-ok">확인</button>
	</div>
</div>


{{>footer jsName="find-id"}}
