{{set root=".."}}
{{set pageId="market-detail"}}
{{>header title="market-detail" cssName="market-detail"}}
<section class="product-img-layer">
	<div class="product-img-layer-header">
		<div class="gallery-title">상품 사진</div>
		<div class="close-icon"></div>
	</div>
	<div id="img-layer-carousel" class="product-img-area carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">

		</ol>
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">

		</div>
		<!-- Control-arrows -->
		<a class="left carousel-control" href="#img-layer-carousel" role="button" data-slide="prev">
		<span class="fa fa-angle-left" aria-hidden="true"></span>
		</a>
		<a class="right carousel-control" href="#img-layer-carousel" role="button" data-slide="next">
			<span class="fa fa-angle-right" aria-hidden="true"></span>
		</a>
	</div>
</section>
<div id="market-detail-img-carousel" class="product-img-area carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">

	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">

	</div>
	<!-- Control-arrows -->
	<a class="left carousel-control" href="#market-detail-img-carousel" role="button" data-slide="prev">
		<span class="fa fa-angle-left" aria-hidden="true"></span>
	</a>
	<a class="right carousel-control" href="#market-detail-img-carousel" role="button" data-slide="next">
		<span class="fa fa-angle-right" aria-hidden="true"></span>
	</a>
</div>
<section class="contents-wrapper market-detail">
	<div class="product-info">
		<div class="product name">

		</div>
		<div class="product price">

		</div>
		<div class="product size">


		</div>
		<div class="product quality">


		</div>
	</div>
	<div class="seller-info">
		<div class="seller name">
			<line></line>
			<div class="seller-rank" seller-rank=""></div>
			<div class="seller-name">수현이당당다랑</div>
		</div>
		<div class="seller selling-complete">
			<line></line>
			총 <span>3</span>건
		</div>
	</div>
	<div class="detail-description">
		<div class="info-label">
			상세 설명
		</div>
		<div class="user-description">

		</div>
	</div>
	<div class="dealing-mode">
		<div class="info-label">
			거래 방식
		</div>
	</div>
	<section class="purchase-area">

	</section>
	<div class="board-info">
		<div class="like">

		</div>
		<div class="comment">

		</div>
		<div class="complain">

		</div>
		<div class="hits">

		</div>
		<div class="reporting-date">
			<span class="fa fa-clock-o"></span>
			2017/03/31
		</div>
	</div>
	<div class="board-setting">
		<ul>

		</ul>
	</div>
	<div class="list-selector like fa fa-heart-o"></div>
</section>
<section class="contents-wrapper market-detail comment">
	<div class="comment-header">
		comments
	</div>
	<ul class="comments-body">
	</ul>
	<section class="write-comment">
		<textarea id="input-details" placeholder="댓글을 달아 보세요."></textarea>
		<div class="resell-btn fa fa-pencil"></div>
	</section>
</section>
<div class="popup-layer comment-remove">
	<div class="popup-text-area">
		<div class="popup-text-body">
			<div class="text1">
				해당 댓글을 삭제하시겠습니까?
			</div>
		</div>
	</div>
	<div class="popup-btn-area">
		<div class="popup-btn btn-cancel">취소</div>
		<div class="popup-btn btn-ok">확인</div>
	</div>
</div>

<div class="pop-up-series">
	<span class="text1"></span><br>
	<span class="text2"></span>

	<button class="btn popup-ok">확인</button>
	<button class="btn popup-close">취소</button>
</div>


{{>footer jsName="market-detail"}}
