{{set root=".."}}
{{>header title="마켓" cssName="market"}}
<section class="title market-title">
	<span>Market</span>
</section>
<section class="menu-category">
	<ul>

	</ul>
</section>
<section class="contents-wrapper">
	<section class="filter">
		<ul>
			<ul>
				<li class="filter-search active">
					<input type="text" class="form-control filter-search-box" placeholder="검색">
					<i class="search-btn fa fa-search"></i>
				</li>
				<li s-value="series-all" class="filter-series active">
					<span>Series</span>
					<i class="glyphicon glyphicon-th-large"></i>
				</li>
			</ul>
			<ul class="filter-dropdown">
				<li>
					<div class="input-style dropdown-category">
						<div class="dropdown">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<div s-value="category-all" class="dropdown-selected">Category</div> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">

							</ul>
						</div>

					</div>
				</li>
				<li>
					<div class="input-style dropdown-size">
						<div class="dropdown">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<div s-value="size-all" class="dropdown-selected">Size</div> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">

							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="input-style dropdown-quality">
						<div class="dropdown">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<div s-value="quality-all" class="dropdown-selected">Quality</div> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li value="quality-all"><a>ALL</a></li>
								<li value="new"><a>새상품</a></li>
								<li value="used"><a>중고</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</ul>
	</section>
	<div class="market-contents list-header">
		<div class="main-product-name active">
			Products
		</div>
		<ul class="product-price-order">
			<li class="latest active">
				최신순
			</li>
			<li class="price">
				가격 <i class="price-arrow fa fa-arrow-down"></i>
			</li>
		</ul>
	</div>
	<ul class="list market-product-list">

	</ul>
	<section class="more-list">
		More
		<span class="fa fa-angle-down"></span>
	</section>
	<section class="resell-btn write-btn">
		판매 등록
		<i class="fa fa-pencil"></i>
	</section>
</section>



<section class="pop-up-series" style="display: none">
	<div class="popup-close"></div>
</section>
{{>footer jsName="market"}}
