{{set root=".."}}
{{>header title="찜목록" cssName="like"}}
<section class="title like-title">
	<span>찜 목록</span>
</section>
<div class="list-search-box">
	<input type="text" class="form-control" placeholder="Search">
	<i class="fa fa-search"></i>
</div>
{{>footer jsName="like"}}
