{{set root=".."}}
{{>header title="찜목록" cssName="like"}}
<section class="title like-title">
	<span>찜 목록</span>
</section>
<section class="contents-wrapper">
	<div class="list-search-box">
		<input type="text" class="form-control" placeholder="Search">
		<i class="fa fa-search"></i>
	</div>
	<div class="like-contents">
		<div class="product-count">
			총 <span>15</span>건
		</div>
	</div>
	<ul class="product-list">
		
	</ul>
</section>
{{>footer jsName="like"}}
