{{set root=".."}}
{{>header title="찜목록" cssName="like"}}
<section class="title like-title">
	<span>찜 목록</span>
</section>
<section class="search-bar">
	<input id="search-input" type="text" placeholder="검색어">
	<div class="search-icon gray fa fa-search"></div>
	<div class="close-icon"></div>
</section>
{{>footer jsName="like"}}
