{{set root=".."}}
{{>header title="찜목록" cssName="like"}}
<section class="title like-title">
	<span>찜 목록</span>
</section>
<section class="contents-wrapper">
	<div class="list-search-box">
		<input type="text" class="form-control" placeholder="Search">
		<i class="fa fa-search"></i>
	</div>
	<div class="like-contents">
		<div class="product-count">
			총 <span>15</span>건
		</div>
	</div>
	<ul class="list like-list">
		<li product-id="#">
			<div class="product-info">
				<img class="product-img" src="{{root}}/img/shoes.jpg">
				<div class="detail-info">
					<div class="product name">
						에어 조던 14 Black Pink New
					</div>
					<div class="product price">
						<i class="fa fa-won"></i>
						200,000
					</div>
					<div class="product size">
						235mm
					</div>
					<div class="product quality">
						새제품
					</div>
					<ul class="product dealing-mode">
						<li class="dealing-mode directly">
							직접거래
						</li>
						<li class="dealing-mode delivery">
							택배거래
						</li>
						<li class="dealing-mode safety">
							안심거래
						</li>
					</ul>
				</div>
			</div>
			<div class="seller-info">
				<div class="info-label">Seller</div>
				<division></division>
				<div class="seller-rank fa fa-star"></div>
				<div class="seller-name">
					수현이당당다랑
				</div>
			</div>
			<div class="board-info">
				<div class="like">
					<span class="fa fa-heart-o"></span>
					10
				</div>
				<div class="comment">
					<span class="fa fa-commenting-o"></span>
					10
				</div>
				<div class="hits">
					<span class="fa fa-eye"></span>
					1,000
				</div>
				<div class="complain">
					<span class="fa fa-thumbs-o-down"></span>
					10
				</div>
				<div class="reporting-date">
					<span class="fa fa-clock-o"></span>
					2017/03/31
				</div>
			</div>
			<div class="list-selector like fa fa-heart" valid="true"></div>
		</li>
		<li product-id="#" process="complete">
			<div class="product-info">
				<img class="product-img" src="{{root}}/img/shoes.jpg">
				<div class="detail-info">
					<div class="product name">
						에어 조던 14 Black Pink New
					</div>
					<div class="product price">
						<i class="fa fa-won"></i>
						200,000
					</div>
					<div class="product size">
						235mm
					</div>
					<div class="product quality">
						새제품
					</div>
					<ul class="product dealing-mode">
						<li class="dealing-mode directly">
							직접거래
						</li>
						<li class="dealing-mode delivery">
							택배거래
						</li>
						<li class="dealing-mode safety">
							안심거래
						</li>
					</ul>
				</div>
			</div>
			<div class="seller-info">
				<div class="seller-rank fa fa-star"></div>
				<div class="seller-name">
					수현이당당다랑
				</div>
			</div>
			<div class="board-info">
				<div class="comment">
					<span class="fa fa-commenting-o"></span>
					10
				</div>
				<div class="hits">
					<span class="fa fa-eye"></span>
					1,000
				</div>
				<div class="reporting-date">
					<span class="fa fa-clock-o"></span>
					2017/03/31
				</div>
			</div>
			<div class="list-selector like fa fa-heart-o" valid="false"></div>
		</li>
	</ul>
	<section class="more-list">
		More
		<span class="fa fa-angle-down"></span>
	</section>
</section>
{{>footer jsName="like"}}
