@import 'common.less';
@import 'lib/input-style.less';

.admin-member .list-header {
	margin-top: 20px;
	margin-bottom: 5px;
	border-bottom: none;
}

.admin-member>.list-search-box {
	margin-bottom: 0;
	border-bottom: none;
}

.array-area {
	position: absolute;
	top: 0px;
	right: 0px;
}

.array-area>ul>li {
	display: inline-block;
	color: @colorDarkGray;
}

.array-area>ul>li.active {
	display: inline-block;
	color: @colorPoint;
	font-weight: bold;
}


.array-area>ul>li:first-child {
	border-right: solid 1px @colorLineColor;
	padding-right: 10px;
	margin-right: 10px;
}

.table {
	margin-bottom: 10px;
	table-layout: fixed;
}

td {
	@text-overflow();
}

.heading-line-up {
	position: absolute;
	right: 5px;
	top: 0;
}

.heading-line-up>div {
	display: inline-block;
	padding: 0 5px;
	font-size: 14px;
	color: @colorPoint;
}

.line-up-sell {
	border-right: solid 1px @colorLineColor;
	line-height: 100%;
}
thead>tr {
	border: solid 1px #DDDDE0;
	background-color: #CCCCCC;
}

th {
	border: solid 1px #DDDDE0;
	text-align: center;
}

td {
	border: solid 1px #DDDDE0;
	text-align: center;
}

.table th:first-child {
	width: 25%;
}

.table th:last-child {
	width: 25%;
}

.paging {
	margin-top: 20px;
}
