@import 'common.less';



.admin-menu>ul>li {
	position: relative;
	width: 100%;
	padding: 2% 0;
	color: @colorPoint;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	border-bottom: solid 1px @colorLineColor;
}

.fa-angle-double-right {
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: 15px;
	font-size: 40px;
	transform: translateY(-50%);
}

footer {
	display: none;
}
