@import 'common.less';


.admin-menu {
	margin-top: 10px;
}

.admin-menu>ul>li {
	position: relative;
	width: 100%;
	padding: 2% 0;
	color: @colorPoint;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.fa-angle-double-right {
	position: absolute;
	right: 0;
	margin-right: 15px;
	top: 50%;
	transform: translateY(-50%);
}
