@import 'lib/include.all.less';

html, body {
	height: 100%;
}

body {
	color: @colorFontMain;
	font-size: 15px;
	line-height: 1.4;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none !important;
	outline: none !important;
}

.title {
	text-align: center;

}
.title>span {
	font-weight: bold;
	color: @colorMain;
	font-size: 23px;
	line-height: 2;
}

//-------------scroll-up-btn-------------//
#scroll-up-btn {
	display: none;
	position: fixed;
	bottom: 15px;
	right: 15px;
	color: #DDDDE0;
	background-color: transparent;
	font-size: 45px;
	z-index: 20;
	cursor: pointer;
	border: 0px;
	outline: 0px;
	padding: 0;
}

//-------------dark-layer-------------//
.dark-layer {
	display: none;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 30;
}

//-------------header-------------//
@header-height: 50px;

header {
	position: relative;
	width: 100%;
	height: @header-height;
	background-color: #50546D;
	@body-padding();
}

.logo {
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	line-height: 50px;
}

.logo>a {
	color: #FFFFFF;
}

.menu-header>.logo>a {
	color: @colorMain;
	padding-left: 15px;
}

.search-icon {
	display: inline-block;
	right: 47.16px;
	font-size: 22px;
	@abs-vmiddle();
	@body-padding();
}

.search-icon.white {
	color: @colorLineColor;
	border-right: solid 1px #8B8E9E;
}

.search-bar {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: @header-height;
	background-color: @colorWhite;
	z-index: 20;
}

#header-search-input {
	padding: 15px;
	width: calc(~"100% - 95px");
	border: none;
	outline: none;
}

.search-icon.gray {
	color: @colorMain;
	border-right: solid 1px @colorLineColor;
}

.close-icon {
	display: inline-block;
	right: 0px;
	@btn-close-maincolor();
	@abs-vmiddle();
	@body-padding();
}

.menu-header>.close-icon {
	color: @colorMain;
}

.menu-icon {
	display: inline-block;
	right: 0px;
	font-size: 22px;
	color: @colorLineColor;
	@abs-vmiddle();
	@body-padding();
}

@side-menu-layer-width : 250px;

.side-menu-layer {
	position: fixed;
	top: 0;
	right: -@side-menu-layer-width;
	width: @side-menu-layer-width;
	height: 100%;
	color: @colorMain;
	background-color: #FFFFFF;
	z-index: 40;
}

.sub.menu {
	right: -@side-menu-layer-width;
}

.menu-header {
	position: relative;
	border-bottom: solid 1px @colorLineColor;
}

.menu>li {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: solid 1px @colorLineColor;
}

.menu>li.log-out,
.menu>li.write-btn {
	border-bottom: none;
}

.member-area>div {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.member-area>div:first-child {
	border-right: solid 1px @colorLineColor;
}

.menu>li>.text {
	@body-padding();
}

.menu>li>.text>a {
	color: @colorMain;
}

.menu>li>div {
	display: inline-block;
}

.menu>li>.menu-icon {
	position: absolute;
	@abs-vmiddle();
	color: @colorMain;
}

.menu>li>.fa-angle-right {
	font-size: 34px;
}

.log-out {
	background-color: @colorFontSelect;
	color: @colorWhite;
}

.menu>.write-btn {
	background-color: @colorMain;
	color: @colorWhite;
}

.menu-icon.fa-power-off,
.menu-icon.glyphicon-pencil {
	color: @colorWhite !important;
}

//-------------footer-------------//
footer {
	width: 100%;
	background-color: #50546D;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 12px;
}

.footer-company-info {
	color: @colorLineColor;
}

.company-name {
	font-size: 13px;
	font-weight: bold;
}

.footer-copyright {
	color: @colorLike;
	margin-top: 10px;
}

.footer-copyright>span {
	font-size: 13px;
	font-weight: bold;
}
