@import 'lib/include.all.less';

html, body {
	height: 100%;
}

body {
	color: @colorFontMain;
	font-size: 15px;
	line-height: 1.4;
}

table {
	table-layout: fixed;
	width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: initial;
	text-decoration: none !important;
	outline: none !important;
}

a:focus, a:hover {
	color: initial;
}

section.title {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border-bottom: solid 1px @colorLineColor;
}
.title>span {
	font-weight: bold;
	color: @colorMain;
	font-size: 21px;
	line-height: 2;
}

.resell-container {
	margin-bottom: 30px;
	padding-top: 50px;
	min-height: calc(~"100% - 154px");
}

.contents-wrapper {
	@body-padding();
}

.form-control {
	border-radius: 0px;
}

//-------------board info icon-------------//
.board-info .fa,
.fa-clock-o {
	margin-right: 5px;
}


//-------------scroll-up-btn-------------//
#scroll-up-btn {
	display: none;
	position: fixed;
	bottom: 15px;
	right: 15px;
	color: @colorDarkGray;
	background-color: transparent;
	font-size: 45px;
	z-index: 20;
	cursor: pointer;
	border: 0px;
	outline: 0px;
	padding: 0;
}

//-------------dark-layer-------------//
.dark-layer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 30;
}


//-------------search-bar-------------//
.list-search-box>.form-control {
	height: 38px;
	border: none;
	box-shadow:none;
	border-radius: 0px;
	border: solid 1px @colorLineColor;
}

.list-search-box {
	position: relative;
	height: 40px;
	margin: 20px auto 25px;
 }

.list-search-box>input {
	padding-left: 15px;
	padding-right: 45px;
}

.list-search-box>i {
	position: absolute;
	right: 0px;
	@abs-vmiddle();
	@body-padding();
	color: @colorLineColor;
	font-size: 20px;
}

//-------------product-list-count-------------//
.list-header {
	position: relative;
	padding-bottom: 2%;
	border-bottom: solid 1px @colorLineColor;
}

.admin.list-header {
	color: @colorPoint;
}

.product-count::before {
	content: "";
	border-right: solid 5px @colorMain;
	margin-right: 5px;
}
.product-count,
.main-product-name {
	font-weight: bold;
	font-size: 18px;
	color: @colorMain;
}

//-------------More-list-------------//
.more-list {
	padding-top: 15px;
	width: 100%;
	color: @colorMain;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

.more-list>span {
	padding-left: 7px;
	font-size: 25px;
	font-weight: bold;
	vertical-align: middle;
}

//-------------pagination-------------//
nav {
	text-align: center;
}

.pagination {
	margin: 0;
}

.pagination>li>a {
	border: none;
	color: black;
}

.pagination>li>a>span {
	font-weight: bold;
}
.btn-admin-add {
	width: 100%;
	height: 40px;
	background-color: @colorPoint;
	border-color: transparent;
	font-size: 22px;
	font-weight: bold;
}
.btn-success:hover {
	background-color: gray;
	border: gray;
}


//-------------paging-------------//
.paging {
	text-align: center;
}

.paging>li {
	display: inline-block;
	padding: 0 2px;
	margin-left: 13px;
}

.paging>li:first-child {
	margin-left: 0px;
}

.paging>li.active {
	font-weight: bold;
	border-bottom: solid 1px @colorDarkGray;
}


//-------------slick-carousel-------------//
.carousel-control {
	background-image: none !important;
	text-shadow: none;
}


//-------------product-info-------------//
.info-title {
	display: block;
	font-size: 15px;
	color: @colorFontMain;
	font-weight: bold;
	border-bottom: solid 1px @colorLineColor;
	padding-bottom: 1%;
	margin-top: 22px;
	margin-bottom: 10px;
}

//-------------btn-style-------------//
.resell-btn {
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	background-color: #50546D;
	font-size: 18px;
	text-align: center;
}

.admin .resell-btn {
	background-color: @colorPoint;
}

.half {
	display: inline-block;
	width: 48%;
}

.triple {
	display: inline-block;
	width: 32%;
}

.resell-btn>i {
	font-size: 21px;
	text-align: center;
	color: @colorWhite;
}

.half.resell-btn.selling-cancel,
.half.resell-btn.cancel {
	margin-right: 4%;
	background-color: @colorDarkGray;
}

//----------list-selector / check-box----------//
@check-box-size: 22px;

.all-selected {
	position: absolute;
	top: 0;
	right: 0;
}

.all-selected>span {
	font-size: 14px;
	font-weight: normal;
}

.all-selected>span,
.all-selected>div {
	vertical-align: middle;
	display: inline-block;
}
.all-selected>div {
	margin-left: 5px;
}

.list-selector {
	position: absolute;
	top: 16px;
	right: 0;
}

section .all-selected {
	display: none;
}

[check-box] {
	width: @check-box-size;
	height: @check-box-size;
	border-radius: 3px;
	border: solid 1px @colorDarkGray;
	cursor: pointer;
	padding: 3px;
}
[check-box][get-checked="true"] {
	content: url("../img/checker-white.png");
	background-color: @colorMain;

}


//-------------DropBox Select-------------//
.input-style {
	width: 100%;
	display: inline-table;
}
.input-style>.desc {
	font-size: 14px;
	color: @colorFontMain;
}
.input-style>input {
	width: 100%;
	height: 40px;
	margin-bottom: 4%;
	padding-left: 5%;
	border: solid 1px @colorLineColor;
}

.input-style>.input-default {
	background-color: @colorWhiteGray;
}

.input-style>.dropdown>.dropdown-toggle {
	position: relative;
	min-width: 100%;
	padding-left: 15px;
	text-align: left;
	border: solid 1px @colorLineColor;
	border-radius: 0;
	height: 40px;
	color: @colorDarkGray;
}

.input-style>.dropdown>.dropdown-toggle>.caret {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translate(-50%);
}
.input-style>.dropdown>.dropdown-menu {
	width: 100%;
}

.input-style>.dropdown {
	margin-bottom: 4%;
}

.dropdown-menu {
	border-radius: 0;
}

.dropdown-menu>li:hover {
	background-color: @colorWhiteGray;
}

//-------------header-------------//
@header-height: 50px;

header {
	position: fixed;
	width: 100%;
	height: @header-height;
	background-color: @colorMain;
	@body-padding();
	z-index: 10;
	transition: all 0.3s
}

header.header-transparent {
	background-color: transparent;
	transition: all 0.3s
}

.logo {
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	line-height: 50px;
}

.logo>a {
	color: #FFFFFF;
}

.menu-header>.logo>a {
	color: @colorMain;
	padding-left: 15px;
}

.search-icon {
	display: inline-block;
	right: 47.16px;
	font-size: 21px;
	@abs-vmiddle();
	@body-padding();
}

.search-icon.white {
	color: @colorWhite;
}

.search-icon:after {
	content: '';
	position: absolute;
	top: 1px;
	right: 0px;
	width: 1px;
	height: 20px;
	background-color: #fff;
	opacity: .2;
}

.all-search-bar {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: @header-height;
	background-color: @colorWhite;
	z-index: 20;
}

#header-search-input {
	padding: 15px;
	width: calc(~"100% - 95px");
	height: 50px;
	border: none;
	outline: none;
}

.search-icon.gray {
	color: @colorMain;
	border-right: solid 1px @colorLineColor;
}

.close-icon {
	display: inline-block;
	right: 0px;
	@btn-close-maincolor();
	@abs-vmiddle();
	@body-padding();
}

.menu-header>.close-icon {
	color: @colorMain;
}

.menu-icon,
.admin-header .fa-home {
	display: inline-block;
	right: 0px;
	font-size: 22px;
	color: @colorWhite;
	@abs-vmiddle();
	@body-padding();
}

@side-menu-layer-width : 250px;

.side-menu-layer {
	position: fixed;
	top: 0;
	right: -@side-menu-layer-width;
	width: @side-menu-layer-width;
	height: 100%;
	color: @colorMain;
	background-color: #FFFFFF;
	z-index: 40;
	overflow-x: hidden;
}

.menu-header {
	position: relative;
	border-bottom: solid 1px @colorLineColor;
}

.main-menu {
	position: relative;
	right: 0%;
	width: 100%;
}

.sub-menu {
	display: none;
	position: relative;
	right: 100%;
	width: 100%;
}

.sub-menu>.sub-title {
	color: @colorWhite;
	background-color: @colorMain;
	border-bottom: none;
	text-align: center;
}

.sub-menu>.sub-title>.text {
	color: @colorWhite;
}

.sub-menu>.sub-title>.fa-angle-left {
	position: absolute;
	@abs-vmiddle();
	@body-padding();
	left: 0;
	color: @colorWhite;
}

.main-menu>li,
.sub-menu>li,
.sub-menu>.sub-title {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: solid 1px @colorLineColor;
}

.member-area {
	border-bottom: solid 1px @colorLineColor;
}

.log-out,
.write-btn {
	border-bottom: none !important;
}

.member-area>a {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.member-area>a:first-child {
	border-right: solid 1px @colorLineColor;
}

.main-menu>li>a>.text,
.main-menu>li>.text,
.sub-menu>li .text {
	width: 100%;
	color: @colorMain;
	@body-padding();
}

.main-menu>li>a>div,
.sub-menu>li>div {
	display: inline-block;
}

.main-menu>li>a>.menu-icon,
.sub-menu>li>.menu-icon,
.sub-menu>li>a>.menu-icon {
	position: absolute;
	@abs-vmiddle();
	color: @colorMain;
}

.main-menu>li>a>.fa-angle-right,
.sub-menu .fa-angle-right,
.sub-menu .fa-angle-left {
	font-size: 34px;
}

.main-menu .log-out,
.sub-menu .log-out {
	background-color: @colorFontSelect;
}

.log-out .text,
.write-btn .text,
.admin-btn .text {
	color: @colorWhite !important;
}

.main-menu .admin-btn,
.sub-menu .admin-btn {
	background-color: @colorPoint;
}

.main-menu .write-btn,
.sub-menu .write-btn {
	background-color: @colorMain;
}

.menu-icon.fa-power-off,
.menu-icon.glyphicon-pencil,
.menu-icon.fa-gears {
	color: @colorWhite !important;
}

/* 카테고리 네비게션 공통화*/
.menu-category>ul {
	width: 100%;
}

.menu-category>ul>li {
	display: inline-block;
	text-align: center;
	font-weight: bold;
	line-height: 2;
	border-right: solid 1px @colorLineColor;
	border-bottom: solid 1px @colorLineColor;
	background-color: @colorWhite;
	color: @colorDarkGray;
	opacity: 0;

}
.menu-category>ul>li.active {
	color: @colorFontSelect;
	border-bottom: none;
}

.menu-category>ul>li:last-child {
	border-right: none;
}

/* more css*/
.more {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 20px;
	background-color: @colorWhite;
	color: @colorMain;
}
.more>span {
	margin-right: 10px;
}



//팝업창
.popup-box2,
.popup-box {
	display: none;
	position: fixed;
	top: 23%;
	left: 4%;
	width: 92%;
	height: 30%;
	background-color: #fff;
	z-index: 30;
}
.popup-contents {
	position: relative;
	height: 100%;
}

.popup-contents>span {
	position: relative;
	display: block;
	top: 35%;
	color: rgb(80, 84, 109);
	text-align: center;
}
.popup-contents>.text1 {
	font-size: 17px;
	font-weight: bold;
}


.popup-contents>button {
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%;
	height: 40px;
	margin-top: 14%;
	color: #fff;
	background-color: #50546d;
	border: 0;
}
.popup-contents>.btn-ok {
	width: 100%;
}
.popup-contents>.popup-ok {
	width: 50%;
	right: 0;
}
.popup-contents>.popup-close {
	width: 50%;
	background-color: #8B8E9E;
}


//-------------admin-header-------------//

header.admin-header {
	background-color: @colorPoint;
}

.admin-header .logo span {
	padding-left: 7px;
	color: @colorLike;
}

.admin-header .fa-home {
	font-size: 30px;
}

.admin.title>span {
	color: @colorPoint;
}

//-------------footer-------------//
footer {
	width: 100%;
	background-color: #50546D;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 12px;
}

.footer-company-info {
	color: @colorLineColor;
}

.company-name {
	font-size: 13px;
	font-weight: bold;
}

.footer-copyright {
	color: @colorLike;
	margin-top: 10px;
}

.footer-copyright>span {
	font-size: 13px;
	font-weight: bold;
}
