@import 'common.less';
@import 'lib/product-list.less';

/* -------product-list------- */
.like-list {
	position: relative;
	border: none;
	padding: 0;
}

.like-list>li {
	position: relative;
	border-bottom: solid 1px #DDDDE0;
	padding-top: 15px;
	padding-bottom: 15px;
}

.product-info {
	padding-bottom: 15px;
	border-bottom: solid 1px #F2F2F2;
}

.product-info>.product-img {
	display: inline-block;
	margin-right: 13px;
	width: 34%;
	height: 112px;
	vertical-align: top;
}

.detail-info {
	display: inline-block;
	width: 62%;
}

.detail-info>div {
	padding-bottom: 9px;
}

.product.name {
	width: 100%;
	@product-name();
}


.product.price {
	@price();
}

.product.price>i {
	@price-icon();
}

.product.size,
.product.quality {
	display: inline-block;
}

.product.size,
.product.quality,
.product.dealing-mode,
.seller-info,
.board-info {
	@list-inner-font();
}

@product-info-width: 37%;

.product.size,
.product.quality {
	width: @product-info-width;
}

.product.dealing-mode>li {
	width: @product-info-width;
	display: inline-block;
}

.product.dealing-mode>li:last-child {
	width: 26%;
}

@seller-info-width: 35%;

.seller-info {
	width: @seller-info-width;
}

.seller-info,
.board-info {
	display: inline-block;
	padding-top: 15px;
}

.seller-info>div {
	display: inline-block;
}

.seller-info>.seller-rank {
	@seller-rank();
}

.seller-info>.seller-name {
	width: 92px;
	padding-right: 15px;
	border-right: solid 1px #F2F2F2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.board-info {
	width: calc(100% - @seller-info-width);
	padding-left: 15px;
}

.board-info>.comment,
.board-info>.hits,
.board-info>.reporting-date {
	display: inline-block;
	padding-right: 12px;
}

.board-info>.reporting-date {
	padding-right: 0;
}

.like.fa-heart[valid="true"] {
	position: absolute;
	top: 25%;
	right: 0;
	@like-heart();
}

.like.fa-heart[valid="false"] {
	position: absolute;
	top: 25%;
	right: 0;
	@like-heart();
}
