@import 'common.less';
@import 'lib/product-list.less';
.form-control {
	border: none;
	box-shadow:none;
	border-radius: 0px;
}

.menu-category>ul {
	width: 100%;
	border-bottom: solid 1px @colorLineColor;
	border-top: solid 1px @colorLineColor;
}

.menu-category>ul>li {
	display: inline-block;
	text-align: center;
	font-weight: bold;
	line-height: 2;
	border-right: solid 1px @colorLineColor;
	background-color: @colorWhite;
	color: @colorDarkGray;
	opacity: 0;

}
.menu-category>ul>li.active {
	background-color: @colorMain;
	color:@colorWhite;
}

.menu-category>ul>li:last-child {
	border-right: none;
}

.filter {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	color: @colorMain;
}

.filter>ul {
	border: solid 1px @colorLineColor;
}

.filter>ul>ul>li {
	display: inline-block;
}
.filter>ul>ul:first-child {
	border-bottom: solid 1px @colorLineColor;
}

.filter-search {
	width: 100%;
	position: relative;
}

.filter-search.active {
	width: calc(100% / 3*2);
	border-right: solid 1px @colorLineColor;
}
.filter-search-box {
	padding-right: 30px;
}
.filter-search>i {
	position: absolute;
	right: 10px;
	@abs-vmiddle();
}

.filter-series {
	display: none;
}

.filter-series.active {
	width: calc(100% / 3);
	text-align: center;
}

.filter-dropdown>li {
	width: calc(100% / 3);
}

.filter-dropdown>li {
	border-right: solid 1px @colorLineColor;
}

.filter-dropdown>li:last-child {
	border-right: none;
}

.product-view-bar {
 	overflow: hidden;
	padding-bottom: 5px;
	border-bottom: solid 1px @colorLineColor;
}

.main-product-name {
	display: none;
	float: left;
}

.main-product-name.active {
	display: block;
	font-size: 23px;
	color: @colorDarkBrown;
}
.product-price-order {
	display: inline-block;
	float: right;
}

.product-price-order>li {
	display: inline-block;
	border-right: solid 1px @colorLineColor;
	padding-left: 5px;
	padding-right: 5px;
}

.product-price-order>li:last-child {
	border-right: none;
}

.price-high,
.price-low {
	color: @colorDarkGray;
	font-size: 13px;
}

.price-high:active,
.price-low.active {
	color: @colorNavy;
	font-size: 13px;
}

.more {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 20px;
	background-color: @colorWhite;
	color: @colorMain;
}
.more>span {
	margin-right: 10px;
}

.write-btn.list-more {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: @colorMain;
	color: @colorWhite;
	font-size: 20px;
}

.pop-up-series {
	background-color: @colorWhite;
	text-align: left;
	width: 80%;
	padding: 10px;
}

.pop-up-series>ul {
	width: 100%;
	border-bottom: 1px solid #F2F2F2;
}

.pop-up-series>ul>li {
	text-align: center;
	display: inline-block;
	width: calc(100% / 3);
	padding: 3px;
	border-right: 1px solid #F2F2F2;

}
.pop-up-series>ul>li:last-child {
	border-right: none;
}

.pop-up-series>ul>li>img {
	width: 100%;
}

.popup-close {
	position: absolute;
	top : -30px;
	right: 0px;
	@btn-close-white();
}



