@import 'common.less';
@import 'popup.less';

.contents-wrapper.market-detail {
	position: relative;
}

.market-detail .list-selector.like {
	top: 20px;
	right: 15px;
	font-size: 40px;
	color: @colorLike;
}

/*----------img-area----------*/
.product-img-area {
	height:250px;
	overflow: hidden;
}

.carousel-indicators li {
	margin: 0px 5px;
	background-color: @colorLineColor;
	border: solid 1px @colorLineColor;
}

.carousel-indicators .active {
	width: 10px;
	height: 10px;
	margin: 0px 5px;
	background-color: @colorMain;
	border: solid 1px @colorMain;
}

.carousel-inner {
	height: 100%;
}

.carousel-inner>.item {
	height: 100%;
}

.carousel-inner>.item>.product-img {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.carousel-control>span {
	color: @colorLineColor;
	font-size: 35px;
	@abs-center();
	background: none;
}

.carousel-control {
	background-image: none !important;
}

/*----------info-area----------*/

@section-padding-bottom: 15px;

.product-info .product.price,
.product-info .product.quality,
.seller-info,
.detail-description {
	margin-bottom: @section-padding-bottom;
	padding-bottom: @section-padding-bottom;
	border-bottom: solid 1px @colorLineColor;
}

.board-info {
	border-top: solid 1px #DDDDE0;
	border-bottom: none;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

line {
	margin-left: 15px;
	margin-right: 15px;
	font-size: 11px;
	border-left: solid 1px #DDDDE0;
}

.contents-wrapper.market-detail {
	font-size: 15px;
	padding-top: 20px;
}

.product-info .product,
.seller-info>div,
.dealing-mode>div {
	padding-bottom: 5px;
}

.product-info .product.name {
	width: 82%;
	color: @colorFontMain;
	font-size: 20px;
	font-weight: bold;
}

.product-info .product.price {
	color: @colorPoint;
	font-size: 20px;
	font-weight: bold;
	border-bottom: solid 1px @colorLineColor;
}

.product-info .product.price>i {
	font-size: 18px;
	padding-right: 5px;
}

.product-info .product.size:before {
	content: 'Size';
}

.product-info .product.quality:before {
	content: 'Quality';
}

.seller-info .seller.name:before {
	content: '판매자';
}

.seller-info .seller.name>div,
.user-info>div {
	display: inline-block;
}

.seller-info .seller-rank,
.user-info .user-rank {
	padding-right: 7px;
	color: @colorLike;
	font-size: 14px;
	vertical-align: middle;
}

.seller-info .seller-name,
.user-info .user-name {
	@text-overflow();
	vertical-align: middle;
}

.seller-info .seller.selling-complete:before {
	content: '판매 완료';
}

.info-label {
	font-weight: bold;
	padding-bottom: 5px;
}

.dealing-mode {
	margin-bottom: 15px;
}

.dealing-mode .directly:before {
	content: '직접 거래';
}

.dealing-mode .delivery:before {
	content: '택배 거래';
}

.dealing-mode .safety:before {
	content: '안심 결제';
}

/*----------board-info-area----------*/

.board-info>div {
	width: 15%;
	display: inline-block;
	font-size: 13px;
}

.board-info>div.hits {
	width: 25%;
}

.board-info>div.reporting-date {
	width: 30%;
	text-align: right;
}

.board-setting>ul>li {
	display: inline-block;
	width: 50%;
	border-right: solid 1px #DDDDE0;
	text-align: center;
	font-size: 13px;
}

.board-setting>ul>li:last-child {
	border-right: none;
}

.board-setting {
	padding-top: 6px;
	padding-bottom: 6px;
	border-top: solid 1px @colorLineColor;
	border-bottom: solid 1px @colorLineColor;
}

/*----------button-area----------*/

.market-detail .resell-btn.purchase {
	margin-bottom: 15px;
}

.market-detail .resell-btn.purchase:before {
	content: '';
	border-top: solid 1px @colorLineColor;
}

	/*----------comments-area----------*/

.comment-header {
	font-size: 18px;
	font-weight: bold;
	border-bottom: solid 5px @colorMain;
}

.comment>ul>li {
	position: relative;
	padding: 15px 0;
	border-bottom: solid 1px @colorLineColor;
}

.comments-body .default-comment {
	padding: 30px 0;
	text-align: center;
}

.comments-body .user-info {
	width: 70%;
	padding-right: 20px;
	margin-right: 5%;
}

.reply.comment-body .user-info {
	width: 90%;
}

.comments-body .user-info>.user-name {
	width: 70%;
	@text-overflow();
}

.comments-body .reporting-date {
	text-align: right;
	font-size: 13px;
	line-height: 23px;
}

.comment-setting {
	position: absolute;
	top: 15px;
	right: 0;
}

.comment-setting>li {
	display: inline-block;
	padding: 0 10px;
	font-size: 12px;
	text-align: center;
	border-right: solid 1px #DDDDE0;
}

.comment-setting>li:last-child {
	border-right: none;
	padding-right: 0;
}

.comments-body #update-details {
	width: 100%;
	margin: 10px 0;
	border-color: #DDDDE0;
}

.comments-body .comment-content {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 60px;
}

.comments-body>li:last-child {
	margin-bottom: 0;
}

.reply.glyphicon-arrow-right {
	position: absolute;
	top: 13%;
	font-size: 18px;
	color: @colorMain;
}
.reply.comment-body {
	padding-left: 30px;
}

.reply.comment-body .user-info {
	width: 65%;
}

.write-comment,
.write-reply {
	position: relative;
	width: 100%;
	height: 35px;
	border-bottom: solid 1px @colorLineColor;
}

.write-comment textarea,
.write-reply textarea {
	width: 85%;
	height: 100%;
	padding: 5px 10px 5px 5px;
	border: none;
}

.write-comment .resell-btn,
.write-reply .resell-btn {
	position: absolute;
	margin-top: auto;
	right: 0;
	width: 15%;
	height: 100%;
	border-left: solid 1px @colorLineColor;
	background-color: @colorWhite;
	color: @colorDarkGray;
}


/*------product-img-layer-area------*/

.product-img-layer {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: 20;
}

.product-img-layer-header {
	position: relative;
	padding: 25px 0;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.product-img-layer .close-icon {
	@btn-close-white();
	margin-right: 3px;
}

.product-img-layer .carousel-inner {
	position: relative;
	height: 76%;
}

.product-img-layer #img-layer-carousel {
	height: 100%;
}

.product-img-layer .carousel-control {
	bottom: -63%;
}

.product-img-layer .carousel-indicators {
	bottom: 15%;
}

.product-img-layer .carousel-inner>.item>img {
	@abs-center();
}

.carousel-indicators {
	z-index: 1;
}

/* 팝업 CSS -영욱*/
.pop-up-series {
	display: none;
	position: relative;
	top: 80%;
	left: 4%;
	width: 92%;
	height: 25%;
	background-color: #fff;
	z-index: 30;
}

.pop-up-series>span {
	position: relative;
	display: block;
	top: 30%;
	color: @colorMain;
	text-align: center;
}
.pop-up-series>.text1 {
	font-size: 17px;
	font-weight: bold;
}
.pop-up-series>.text2 {
	font-size: 14px;
}

.pop-up-series>.btn {
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%;
	height: 40px;
	margin-top: 14%;
	color: #fff;
	background-color: #50546d;
	border: 0;
	border-radius: 0;
}

.pop-up-series>.popup-close {
	width: 50%;
	background-color: rgb(139, 142, 158);
}
.pop-up-series>.popup-ok {
	width: 50%;
	background-color: rgb(80, 84, 109);
	right: 0;
}

