@import 'common.less';
@import 'lib/product-list.less';

div.product-info {
	padding-bottom: 15px;
}

.product-info .product-img {
	display: inline-block;
	margin-right: 13px;
	width: 33%;
	height: 95px;
	vertical-align: top;
}

.product-info .detail-info {
	width: 62%;
	position: relative;
	margin-top: 0%;
}

.product.name {
	width: 100%;
}

.question-info,
.answer-info {
	position: relative;
	font-size: 13px;
	padding: 15px 0;
	border-bottom: solid 1px #F2F2F2;
}

.answer-info {
	padding-bottom: 0;
	border-bottom: none;
}

.info-title {
	border-bottom: none;
	padding-bottom: 0;
	margin-top: 0px;
	font-size: 13px;
}

.reporting-date {
	position: absolute;
	right: 0;
	top: 15px;
	font-size: 12px;
}

.product-info .fa-angle-double-right {
	position: absolute;
	width: 30px;
	height: 50px;
	text-align: right;
	top: 33%;
	right: 0;
	color: @colorPoint;
	font-size: 25px;
}

.answer-info .content.default {
	color: @colorDarkGray;
}

.inquire-list .default-text {
	padding: 50px 0;
	text-align: center;
	border-bottom: solid 1px @colorLineColor;
}
