@import 'lib/include.all.less';
@import 'common.less';


.purchase-confm-contents {
	@body-padding();
	margin-top: 5%;
	margin-bottom: 3%;
}

.info-title {
	display: block;
	font-size: 14px;
	color: @colorFontMain;
	font-weight: bold;
	border-bottom: solid 1px @colorDarkGray;
	padding-bottom: 1%;
	margin-top: 8%;
	margin-bottom: 3%;
}

.line {
	border-top: 1px solid @colorDarkGray;
}


.product-info {
	margin-bottom: -5%;
}
.pd-information {
	display: inline-block;
	margin-top: 1%;
}

.pd-information>.image {
	display: inline-block;
}
.image>.pd-image {
	width: 90px;
	height: 90px;
	background-image: url("../img/ect.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: solid 1px @colorDarkGray;
}

.pd-information>.info {
	position: relative;
	display: inline-block;
	top: -13px;
	left: 5%;
}
.pd-information>.info>div {
	display: block;
}
.pd-name {
	color: @colorFontMain;
	font-size: 15px;
	font-weight: bold;
}
.pd-price {
	color: @colorPoint;
	font-size: 18px;
	font-weight: bold;
}
.pd-info {
	color: @colorFontMain;
	font-size: 14px;
	font-weight: bold;
}
.pd-info>span {
	display: inline-block;
	color: @colorFontMain;
	font-size: 13px;
	font-weight: 100;
	margin-left: 10%;
}


.td-information {
	display: block;
	width: 100%;
	margin-bottom: -4%;
}
.td-information>.td-info {
	display: inline-block;
	width: 23%;
	color: @colorNavy;
	font-size: 14px;
	line-height: 1.7;
}

.td-information>span {
	display: inline-block;
	width: 77%;
	color: @colorNavy;
}
.td-information>span>.border-left {
	display: inline;
	font-size: 11px;
	border-left: solid 1px @colorDarkGray;
	margin-left: 3%;
	margin-right: 5%;
}




.btn-bottom {
	width: 100%;
	height: 40px;
	font-size: 18px;
	color: #fff;
	border: 0;
	background-color: @colorMain;
	margin-bottom: 3%;
}
.btn-escrow {
	margin-top: 2%;
}
.btn-ok {
}
