@import 'common.less';
@import 'lib/product-list.less';
@import 'popup.less';


.selling-list>section.selling-processing,
.selling-list>section.selling-complete {
	display: none;
}

.purchaser-name.none {
	width: 63%;
	color: @colorDarkGray;
}
