{{set root=".."}}
{{>admin-header title="회원 상세 정보" cssName="admin-update-member"}}

<section class="admin title admin-update-member-title">
	<span>회원 상세 정보</span>
</section>

<section class="contents-wrapper admin-update-member">

	<div class="input-style">
		<div class="desc">Name</div>
		<input id="userName" type="text" value="">
	</div>

	<div class="input-style">
		<div class="desc">ID</div>
		<input id="userId" type="text" value="" disabled>
	</div>

	<div class="input-style">
		<div class="desc">Rank</div>
		<div class="dropdown">
			<button id="userRank" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<div class="dropdown-selected">
					Default Rank
				</div>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li value="admin"><a>admin</a></li>
				<li value="member"><a>member</a></li>
				<li value="silver"><a>silver</a></li>
				<li value="gold"><a>gold</a></li>
				<li value="blackList"><a>blackList</a></li>
			</ul>
		</div>
	</div>

	<div class="input-style">
		<div class="desc">Sell</div>
		<input id="input-sell-count" value="총 1건" disabled>
	</div>

	<div class="input-style">
		<div class="desc">Buy</div>
		<input id="input-buy-count" value="총 1건" disabled>
	</div>

	<hr class="line">


	<div class="input-style">
		<div class="desc">Phone Number</div>
		<input id="userPhoneNum" type="text" value="">
	</div>

	<div class="input-style">
		<div class="desc">Address</div>
		<input id="userAddr" type="text" value="">
	</div>

	<div class="input-style">
		<div class="desc">Detail Address</div>
		<input id="userAddrDetail" type="text" value="">
	</div>

	<div class="input-style">
		<div class="desc">Zip Code</div>
		<input id="userZipCode" type="text" value="">
	</div>


	<button class="btn-bottom btn-update">Update</button>
	<button class="btn-bottom btn-cancel">Cancel</button>

	<button class="btn-bottom btn-delete">Delete Member</button>
</section>


<div class="pop-up-series">
	<span class="text1"></span>

	<button class="btn popup-ok">확인</button>
	<button class="btn popup-close">취소</button>
</div>

<div class="popup-box">
	<div class="popup-contents">
		<span class="text1">
				해당 회원을 <br>강제로 탈퇴 시키겠습니까?
		</span>

		<button class="popup-ok">확인</button>
		<button class="popup-close">취소</button>
	</div>
</div>
<div class="popup-box2">
	<div class="popup-contents">
		<span class="text1">
				수정을 취소하시겠습니까?
		</span>

		<button class="popup-ok">확인</button>
		<button class="popup-close">취소</button>
	</div>
</div>

{{>footer jsName="admin-update-member"}}
