{{set root=".."}}
{{>admin-header title="브랜드 관리" cssName="admin-category"}}

<section class="admin-list">
	<section class="admin title brand-title">
		<span>브랜드 관리</span>
	</section>
	<section class="menu-category">
		<ul>
			<li menu-category-detail="category">
				Category
			</li>
			<li menu-category-detail="brand" class="active">
				Brand
			</li>
			<li menu-category-detail="series">
				Series
			</li>
		</ul>
	</section>
	<section class="contents-wrapper admin-brand">
		<section class="brand">
			<table class="table table-hover table-condensed">
				<thead>
				<tr>
					<th>No</th>
					<th>Brand ID</th>
					<th>Brand name</th>
				</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
			<ul class="paging">
				<li page="firstPage">
					<a href='#'>
						<i class="fa fa-angle-double-left"></i>
					</a>
				<li page="(startPage - 1)">
					<a href="#">
						<i class="fa fa-angle-left"></i>
					</a>
				</li>
				<li page="i" class="active">
					<a href="#">
						1
					</a>
				</li>
				<li page="i">
					<a href="#">
						2
					</a>
				</li>
				<li page="i">
					<a href="#">
						3
					</a>
				</li>
				<li page="i">
					<a href="#">
						4
					</a>
				</li>
				<li page="(endPage + 1)">
					<a href="#">
						<i class="fa fa-angle-right"></i>
					</a>
				</li>
				<li page="lastPage">
					<a href="#">
						<i class="fa fa-angle-double-right"></i>
					</a>
				</li>
			</ul>
			<section class="resell-btn add" menu-category-detail="brand">
				Add
			</section>
		</section>
	</section>
</section>

<section class="admin-add">
	<section class="admin title brand-title">
		<span>브랜드 추가</span>
	</section>
	<section class="contents-wrapper admin-brand">
		<div class="form-group">
			<label for="add-brand_name">Brand Name</label>
			<input type="text" class="form-control" id="add-brand_name" placeholder="Brand Name">
		</div>
		<div class="admin-buttons">
			<div class="half resell-btn btn-admin-save">저장</div>
			<div class="half resell-btn btn-admin-cancel">취소</div>
		</div>
	</section>
</section>

<section class="admin-update">
	<section class="admin title brand-title">
		<span>브랜드 수정</span>
	</section>
	<section class="contents-wrapper admin-brand">
		<div class="form-group">
			<label for="upt-brand_id">Brand ID</label>
			<input type="text" class="form-control" id="upt-brand_id" disabled>
		</div>
		<div class="form-group">
			<label for="upt-brand_name">Brand Name</label>
			<input type="text" class="form-control" id="upt-brand_name" placeholder="Brand Name">
		</div>
		<div class="admin-buttons">
			<div class="btn-admin-update triple resell-btn">수정</div>
			<div class="btn-admin-delete triple resell-btn">삭제</div>
			<div class="btn-admin-cancel triple resell-btn">취소</div>
		</div>
	</section>
</section>

{{>footer jsName="admin-brand"}}
