{{set root=".."}}
{{>header title="관리자페이지" cssName="admin-category"}}
<div class="admin-header">
	<div>Admin</div><a href="http://localhost:85/admin/admin-main.html"><i class="fa fa-home" aria-hidden="true"></i></a>
</div>

<div class="heading-bar"><a href="http://localhost:85/admin/admin-main.html"><i class="fa fa-fast-backward" aria-hidden="true"></i>카테고리 관리</a></div>


{{>footer jsName="admin-main"}}
