{{set root=".."}}
{{>header title="판매 상품 등록" cssName="selling"}}

<section class="title selling-title">
	<span>판매 상품 등록</span>
</section>

<section class="contents-wrapper selling">
	<section class="product-info">
		<div class="info-title">상품 정보</div>

		<div class="input-style">
			<div class="desc">Product Name</div>
			<input id="input-product-name" type="text" placeholder="Product Name">
		</div>

		<div class="input-style dropdown-brand">
			<div class="desc">Brand</div>
			<div class="dropdown">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<div class="dropdown-selected">Brand</div> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">

				</ul>
			</div>
		</div>

		<div class="input-style dropdown-category">
			<div class="desc">Category</div>
			<div class="dropdown">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<div class="dropdown-selected">Category</div> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">

				</ul>
			</div>

		</div>

		<div class="input-style dropdown-series" style="display: none">
			<div class="desc">Series</div>
			<div class="dropdown">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<div class="dropdown-selected">Series</div> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">

				</ul>
			</div>
		</div>

		<div class="input-style dropdown-size" style="display: none">
			<div class="desc">Size</div>
			<div class="dropdown">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<div class="dropdown-selected">Size</div> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li value="id1"><a>size 1</a></li>
					<li value="id2"><a>size 2</a></li>
					<li value="id3"><a>size 3</a></li>
				</ul>
			</div>
		</div>

		<div class="input-style">
			<div class="desc">Price</div>
			<input id="input-price" type="text" placeholder="Price">
		</div>

		<div class="input-style">
			<div class="desc">Details</div>
			<textarea id="input-details" placeholder="ex : 제품 판매 사유 / 구매 날짜 / 사용 기간 / 워런티 보유 / 취급 방법 등"></textarea>
		</div>

		<div class="input-style">
			<div class="desc">
				Picture
			</div>
		</div>
		<div class="input-style">
			<div class="img-input-slider">

			</div>
		</div>
		<div class="input-style">
			<label  class="btn-add-image" for="file-img-input">+</label>
			<input multiple="multiple" type="file" id="file-img-input"class="hidden" accept="image/*">
		</div>

		<hr class="line">
	</section>


	<section class="trade-info">
		<div class="info-title">거래 정보</div>
		<div class="desc">거래 방식을 선택해주세요. (복수 선택 가능)</div>
		<span class='alert-text trade'></span>

		<div class="button-select trade">
			<button class="trade-select left btn-direct">직접 거래</button>
			<button class="trade-select right btn-delivery">택배 거래</button>
		</div>


		<div class="trade-details">
			<div class="input-style">
				<div class="desc">거래 장소 / 시간</div>
				<input id="input-place-time" type="text" placeholder="ex : 목동역, 신정역, 18시 이후">
			</div>
		</div>
	</section>


	<section class="payment-info">
		<div class="info-title">안심거래</div>
		<div class="button-select trade">
			<button class="trade-select safe-pay">체크</button>
		</div>
	</section>


	<section class="seller-info">
		<div class="info-title">판매자 정보</div>

		<div class="input-style">
			<div class="desc">Name</div>
			<input class="input-default" id="input-name" type="text" value="백수현" disabled>
		</div>

		<div class="input-style">
			<div class="desc">Phone Number</div>
			<input class="input-default" id="input-phone-num" type="text" value="010-2371-6848" disabled>		</div>
	</section>


	<hr class="line">
	<button class="btn-bottom btn-ok">판매 등록</button>
	<button class="btn-bottom btn-cancel">취소</button>
</section>


<div class="pop-up-series">
	<span class="text1"></span><br>
	<span class="text2"></span>

	<button class="btn popup-ok">확인</button>
	<button class="btn popup-close">취소</button>
</div>


{{>footer jsName="selling"}}
