{{set root=".."}}
{{>header title="상품 문의" cssName="purchase-inqure-view"}}
<div class="product-question">
	<ul>상품 문의</ul>
	<div class="product-question-box">
		<ul class="product-question-count">총 0 건</ul>
		<ul class="product-question-list">
			<li>아직 작성한 상품 문의가 없습니다.</li>
		</ul>
	</div>
</div>
{{>footer jsName="main"}}
