{{set root=".."}}
{{>header title="구매리스트" cssName="purchase-list"}}
<section class="title market-title">
	<span>구매리스트</span>
</section>
<section class="menu-category">
	<ul>
		<li menu-category-detail="purchase-process" class="active">
			진행중
		</li>
		<li menu-category-detail="purchase-complete">
			거래완료
		</li>
	</ul>
</section>
<section class="contents-wrapper">
	<div class="purchase-search-box">
		<input type="text" class="form-control" placeholder="Search">
		<i class="fa fa-search"></i>
	</div>
	<div class="purchase-contents">
		<div class="purchase-count">
			총 <span>15</span>건
		</div>
		<ul class="purchase-list">
			<li>
				<div class="purchase-date">2017/03/31</div>
				<img>

			</li>
		</ul>
	</div>
</section>

<section class="more">
	<span>More</span><i class="glyphicon glyphicon-chevron-down"></i>
</section>

{{>footer jsName="purchase-list"}}
