{{set root=".."}}
{{>header title="구매 상세 정보" cssName="purchase-detail"}}
<section class="title purchase-detail-title">
	<span>구매 상세 정보</span>
</section>
<section class="contents-wrapper purchase-detail">
	<section class="product-info">
		<div class="info-title">
			상품 정보
		</div>
		<div class="info-body">
			<img class="product-img" src="{{root}}/img/shoes.jpg">
			<div class="detail-info">
				<div class="product name">
					에어 조던 14 Black Pink New
				</div>
				<div class="product price">
					<i class="fa fa-won"></i>
					200,000
				</div>
				<div class="product size">
					<div class="info-label">
						Size
					</div>
					<span for="date">
					235mm
					</span>
				</div>
				<div class="product quality">
					<div class="info-label">
						Quality
					</div>
					<span for="quality">
					새제품
					</span>
				</div>
			</div>
			<i class="fa fa-angle-double-right"></i>
		</div>
	</section>
	<section class="trade-info">
		<div class="info-title">
			거래 정보
		</div>
		<div class="detail-info">
			<div class="trade-info" detail-info="date">
				<div class="info-label">
					거래 날짜
				</div>
				<span for="date">
					2017/04/06
				</span>
			</div>
			<div class="trade-info" detail-info="directly">
				<div class="info-label">
					직접 거래
				</div>
				<span for="directly">
					목동역,오목교역,18시 이후
				</span>
			</div>
			<div class="trade-info" detail-info="delivery">
				<div class="info-label">
					택배 거래
				</div>
				<span for="delivery">
					택배비 착불
				</span>
			</div>
			<div class="trade-info" detail-info="safety">
				<div class="info-label">
					안심 거래
				</div>
				<span for="safety">
					가능
				</span>
			</div>
		</div>
	</section>
	<section class="seller-info">
		<div class="info-title">
			판매자 정보
		</div>
		<div class="detail-info">
			<div class="seller-info" detail-info="name">
				<div class="info-label">
					이름
				</div>
				<span for="name">
					백수현
				</span>
			</div>
			<div class="seller-info" detail-info="rank">
				<div class="info-label">
					회원 등급
				</div>
				<span for="rank">
					일반 회원
				</span>
			</div>
			<div class="seller-info" detail-info="contact">
				<div class="info-label">
					연락처
				</div>
				<span for="contact">
					010-0000-0000
				</span>
			</div>
			<div class="seller-info" detail-info="address">
				<div class="info-label">
					주소
				</div>
				<span for="address">
					서울시 양천구
				</span>
			</div>
			<div class="seller-info" detail-info="account">
				<div class="info-label">
					입금 계좌
				</div>
				<span for="account">
					1002-950-000000 (우리은행)
				</span>
			</div>
		</div>
	</section>
	<section class="purchaser-info">
		<div class="info-title">
			구매자 정보
		</div>
		<div class="detail-info">
			<div class="purchaser-info" detail-info="name">
				<div class="info-label">
					이름
				</div>
				<span for="name">
					백수현
				</span>
			</div>
			<div class="purchaser-info" detail-info="contact">
				<div class="info-label">
					연락처
				</div>
				<span for="contact">
					010-0000-0000
				</span>
			</div>
			<div class="purchaser-info" detail-info="address">
				<div class="info-label">
					주소
				</div>
				<span for="address">
					서울시 양천구
				</span>
			</div>
		</div>
	</section>
	<section class="resell-btn product-inquire">
		상품 문의
	</section>
</section>
{{>footer jsName="purchase-detail"}}
