{{set root=".."}}
{{>header title="상품 문의" cssName="seller-inqure-view"}}

<div class="product-question">
	<ul>상품 문의</ul>
	<div class="product-question-box">
		<ul class="product-question-count">총 15 건</ul>
		<ul class="user-list">
			<li class="product-list">
				<div class="product-date">2017/04/02</div>
				<div class="product-img" style="background-image: url('{{root}}/img/shoes.jpg')"></div>
				<div class="product-detail">
					<div class="product-name">컨버스 네이버후드</div>
					<div class="product-price"><i class="fa fa-krw"></i><span>260,000</span></div>
					<ul>
						<li class="product-size"><span>260</span>mm</li>
						<li class="product-quality"><span>새상품</span></li>
						<li class="product-deal"><span>직접거래</span></li>
					</ul>
				</div>
				<i class="product-detail-arrow fa fa-angle-double-right" ></i>
			</li>
			<div class="product-question-list">
				<ul class="question-content">
					<div>
						문의 내용
					</div>
					<div class="reporting-date">
						<span class="fa fa-clock-o"></span>
						2017/03/31
					</div>
					<br>
					<li>새상품 맞나요? 보증서 있어요?</li>

				</ul>
				<ul class="question-return">
					<div>
						판매자 답변
					</div>
					<div class="reporting-date">
						<span class="fa fa-clock-o"></span>
						2017/03/31
					</div>
					<br>
					<li>새상품입니다. 보증서 동봉해드릴게요.</li>
				</ul>
			</div>
		</ul>		<ul class="user-list">
		<li class="product-list">
			<div class="product-date">2017/04/02</div>
			<div class="product-img" style="background-image: url('{{root}}/img/shoes.jpg')"></div>
			<div class="product-detail">
				<div class="product-name">컨버스 네이버후드</div>
				<div class="product-price"><i class="fa fa-krw"></i><span>260,000</span></div>
				<ul>
					<li class="product-size"><span>260</span>mm</li>
					<li class="product-quality"><span>새상품</span></li>
					<li class="product-deal"><span>직접거래</span></li>
				</ul>
			</div>
			<i class="product-detail-arrow fa fa-angle-double-right" ></i>
		</li>
		<div class="product-question-list">
			<ul class="question-content">
				<div>
					문의 내용
				</div>
				<div class="reporting-date">
					<span class="fa fa-clock-o"></span>
					2017/03/31
				</div>
				<br>
				<li>새상품 맞나요? 보증서 있어요?</li>

			</ul>
			<ul class="question-return">
				<div>
					판매자 답변
				</div>
				<div class="reporting-date">
					<span class="fa fa-clock-o"></span>
					2017/03/31
				</div>
				<br>
				<li>새상품입니다. 보증서 동봉해드릴게요.</li>
			</ul>
		</div>
	</ul>		<ul class="user-list">
		<li class="product-list">
			<div class="product-date">2017/04/02</div>
			<div class="product-img" style="background-image: url('{{root}}/img/shoes.jpg')"></div>
			<div class="product-detail">
				<div class="product-name">컨버스 네이버후드</div>
				<div class="product-price"><i class="fa fa-krw"></i><span>260,000</span></div>
				<ul>
					<li class="product-size"><span>260</span>mm</li>
					<li class="product-quality"><span>새상품</span></li>
					<li class="product-deal"><span>직접거래</span></li>
				</ul>
			</div>
			<i class="product-detail-arrow fa fa-angle-double-right" ></i>
		</li>
		<div class="product-question-list">
			<ul class="question-content">
				<div>
					문의 내용
				</div>
				<div class="reporting-date">
					<span class="fa fa-clock-o"></span>
					2017/03/31
				</div>
				<br>
				<li>새상품 맞나요? 보증서 있어요?</li>
			</ul>
			<ul class="question-return">
				<div>
					판매자 답변
				</div>
				<div class="reporting-date">
					<span class="fa fa-clock-o"></span>
					2017/03/31
				</div>
				<br>
				<li>새상품입니다. 보증서 동봉해드릴게요.</li>
			</ul>
		</div>
	</ul>
	</div>
	<div class="question-more"><li>M o r e</li><li class="fa fa-angle-down"></li></div>
</div>
{{>footer jsName="main"}}
