{{set root=".."}}
{{>header title="판매리스트" cssName="selling-list"}}
<section class="title market-title">
	<span>판매리스트</span>
</section>
<section class="purchase-progress">
	<ul>
		<li purchase-progress="purchase-running" >진행중</li>
		<li purchase-progress="purchase-complete">거래완료</li>
	</ul>
</section>

{{>footer jsName="selling-list"}}
